<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      :root{
  --btn-color:brown;

}
.sec1 {
    height: auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-top: 1%;
    padding: 1%;
  }
  .imagepreview {
    margin-top: 2%;
    margin-left: 5%;
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  .product_image {
    height: auto;
    width: 400px;
  }
  .upload_btn,
  .upload_image {
    border: none;
    padding: 20px;
    background-color: var(--btn-color);
    color: white;
    margin-top: 10px;
    cursor: pointer;
    width: 400px;
    border-radius: 30px;
  }
  .product_form {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2%;
  }
  .inp {
    height: 5%;
    margin: 1% 5%;
    padding: 5%;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 5px;
  }
  label {
    margin: 0% 5%;
    font-size: 1rem;
    font-weight: 600;
  }
  /* to remove the arrow form number field  */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

 
    </style>
    <title>Upload</title>
  </head>
  
  <body>

    <section class="sec1">
      <div class="imagepreview">
        <img class="product_image" id="image-preview" alt="" />
      </div>
      <form class="product_form" action="/upload" method="post" enctype="multipart/form-data">
        <label class="product_name" for="productname">Product Name</label>
        <input class="inp" type="text" name="ProductTitle" placeholder="Product Title" autocomplete="on"/>
        <label class="product_price" for="productprice">Product Price</label>
        <input
          class="inp"
          type="number"
          name="ProductPrice"
          placeholder="Product Price in Rupees"
        />
        <input
        type="file"
        class="file upload_image"
        name="uploadimg"
        accept='image/*'
        multiple
        onchange="showPreview(event)"
      />
        <button class="upload_btn" type="submit">Upload</button>
      </form>
    </section>
  </body>
  <script>
    function showPreview(event) {
      if (event.target.files.length > 0) {
        var src = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("image-preview");
        preview.src = src;
        preview.style.display = "block";
      }
    }
  </script>
</html>
